*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    /* transition specifies 
    1. the property to transition
    2. the duration of the transition
    3. the timing function to use or animation curve or animations type/style
     transition: background-color 10s ease-in-out;
     background-color: property to transtion
     10s: duration of the transition
     ease-in-out: timing function to use  / animation curve / animation type/style   
    */
    transition: 10s ease-in-out backgroun-color;
    height:800px;
}
.container{
    width:300px;
    height:200px;
    background-color: white;
    padding:10px;
   /* margin:20px;
    margin-left:80px; */
}

header{
    background-color: green;
    padding:10px;
    margin-botton:10px;
    
    width: 100%;
    bottom:calc(800px-400px);
    height: 40px;
    left:0;


}

footer{
    /*position:absolute;*/
    background-color: blue;
    padding: 10px;
    margin-bottom:0px;
    /* ask explanation about this one*/
    bottom:-800px;
    left:0;
    width: 100%;
    margin-top: 0px;
}
/*basically position static and relative are the same
in the old days some browsers used static and others supported relative 
*/
/* wenn you say absolute then you have to say where it must be given top,left,z-index and absolute
wenn you give absolute it losses during scrolling down but fixed it doesnot get lost by scrolling   */
/* absolute and relative require position to be set positions are 
1. left     3. top
2. right    4. bottom  

absolute positioned element hides on scroll while fixed positioned element stays on the screen

sticky is a combination of relative and fixed 
it is relative until it reaches a certain point then it becomes fixed
in sticky position specifying the position is not important because it can by
default take relative position but then it remains relative until it reaches
 a certain point then it becomes fixed

*/

/* the following are the positioning styles
  1. static        3. absolute             5. sticky
  2. relative      4. fixed 
*/

.top-container{
    position: sticky;
    background-color: chartreuse;
    /* top:20px;
    left: 0;
    */
    width: 100%;
    z-index: 100;
    display: ;
    padding: 10px;
    margin-bottom: 10px;
}
/* styles for screens larger than 600px */
/* this means if screen size is > 600px then apply 
  the following styles  */
@media(min-width:400px){
    body{
    background-color: lightgreen;
    }

   .conatiner{
        width:80%;
        /* center the container*/
        /*
        0 is zero pixels 
        but auto is a keyword that means center the container

         margin: 0 auto;
        0: top and bottom margin
        auto: left and right margin
        */
       margin:0 auto;
    
    }

}

/* styles for screens smaller than 600px */
@media(max-width:800px){
    body{
        background-color:lightcoral;
    }
}