*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    /* transition specifies 
    1. the property to transition
    2. the duration of the transition
    3. the timing function to use or animation curve or animations type/style
     transition: background-color 10s ease-in-out;
     background-color: property to transtion
     10s: duration of the transition
     ease-in-out: timing function to use  / animation curve / animation type/style   
    */
    transition: 10s ease-in-out backgroun-color;
    height:800px;
}
.container{
    width:300px;
    height:200px;
    background-color: white;
    padding:10px;
}

header{
    background-color: green;
    padding:10px;
    margin-botton:10px;
    
    width: 100%;
    bottom:calc(800px-400px);
    height: 40px;
    left:0;


}

footer{
    /*position:absolute;*/
    background-color: blue;
    padding: 10px;
    margin-bottom:0px;
    /* ask explanation about this one*/
    bottom:-800px;
    left:0;
    width: 100%;
    margin-top: 0px;
}
/* styles for screens larger than 600px */
/* this means if screen size is > 600px then apply 
  the following styles  */
@media(min-width:400px){
    body{
    background-color: lightgreen;
    }

   .conatiner{
        width:80%;
        /* center the container*/
        /*
        0 is zero pixels 
        but auto is a keyword that means center the container

         margin: 0 auto;
        0: top and bottom margin
        auto: left and right margin
        */
       margin:0 auto;
    
    }

}

/* styles for screens smaller than 600px */
@media(max-width:800px){
    body{
        background-color:lightcoral;
    }
}